@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: black;
  --button-text-color: black;
  --background: #ffffff;
}

[data-theme='dark'] p {
  color: black;
}

[data-theme='dark'] a {
  color: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}